html {
  font-size: 100%;
  scroll-behavior: smooth;
}
.image {
  width: 24rem;
}
.image img {
  width: 100%;
  border-radius: 50%;
}
.about {
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  gap: 7%;
}

.info {
  vertical-align: center;
  padding-top: 3rem;
}

.info h1 {
  font-size: 3rem;
}
.info p {
  font-size: 1.3rem;
}

.icon2 {
  font-size: 2rem;
  position: relative;
  top: 0.3rem;
  margin-right: 1rem;
}
.makeInline {
  font-size: 2rem;
}

.nameColor {
  color: #ef4323;
}
.typed-wrapper {
  font-size: 1.2rem;
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 85%;
  }
}
@media screen and (max-width: 853px) {
  html {
    font-size: 75%;
  }
}
@media screen and (max-width: 728px) {
  html {
    font-size: 70%;
  }
}

@media screen and (max-width: 688px) {
  html {
    font-size: 65%;
  }
}

@media screen and (max-width: 632px) {
  html {
    font-size: 60%;
  }
}

@media screen and (max-width: 593px) {
  html {
    font-size: 55%;
  }
  .about {
    display: grid;
    grid-template-columns: auto auito;
    justify-content: center;
  }

  .info {
    order: 2;
    padding-top: 0rem;
    text-align: center;
  }
  .info h1 {
    margin-top: 0rem;
  }
  .image {
    width: 100%;
    text-align: center;
  }
  .image img {
    width: 24rem;
  }
}

/* //502 */
