.experience {
  margin-top: 5rem;
}
.experience h1 {
  font-size: 2.5rem;
  text-align: center;
}

.image1 {
  text-align: center;
}
.image1 img {
  width: 25rem;
}
.info1 h2 {
  text-align: center;
}
.info1 ul {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;

  gap: 5%;
}
.info1 li {
  max-width: 29rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin-bottom: 2rem;
  text-align: center;
  padding: 1rem 1rem 1rem 1rem;
}

@media screen and (max-width: 593px) {
  .info1 ul {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: auto;

    padding-left: 0rem;

    gap: 0%;
  }
  .info1 li {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin-bottom: 2rem;
    max-width: 100%;
    padding: 1rem 1rem 1rem 1rem;
  }
}
