.parentFoot {
  padding: 0rem 0rem 3rem 0rem;
  display: flex;
  justify-content: center;
  gap: 3%;
}
.Footer {
  margin-top: 3rem;
}

.links {
  font-size: 3rem;
}
.links:hover {
  color: #ef4323;
}

h4 {
  text-align: center;
  padding-top: 3rem;
  font-size: 1.5rem;
}
