.nav {
  display: flex;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: -5px;
  z-index: 2;
  height: 70px;
  min-height: 70px;
  background-color: #fff;
  padding: 0 1rem;
}
li {
  list-style: none;
}

.nav ul {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10%;
}
.firstul li:hover {
  cursor: pointer;
}
@media screen and (max-width: 593px) {
  .nav {
    font-size: 1.3rem;
    box-shadow: none;
  }
}
