.Container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  gap: 3%;
}

.childProjects {
  text-align: center;
  max-width: 29rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin-bottom: 2rem;
  text-align: center;
  padding: 1rem 1rem 1rem 1rem;
}
.childProjects h3 {
  text-align: center;
}

.language {
  display: flex;
  justify-content: center;

  gap: 1%;
}

.porgLang {
  display: inline-block;
  font-size: 1rem;
  color: black;
}
.icons3 {
  font-size: 1.2rem;
}

.des {
  text-align: center;
  padding: 0rem 2rem 0rem 2rem;
}

a {
  text-decoration: none;
  color: black;
}

button {
  background-color: white;
  color: black;
  border: 0.1rem solid #e7e7e7;
  padding: 0.5rem 1rem 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #ef4323;
}

button:hover {
  color: white;
}

button {
  margin-top: 1rem;
}

.git {
  margin-right: 1rem;
  font-size: 1rem;
}
